

/* Navbar */
.navbar-brand {
    font: 32px Viga;
}


/* Jumbotron */
.jumbotron {
    background: url(../img/download.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
    
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    font-family: 'Handlee', cursive;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}



/* Info Panel */
.info-panel {
    background-color: black;
    padding: 30px;
    margin-top: -120px;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.info-panel h4 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Handlee', cursive;
    color:white;
}

.info-panel p {
    font-size: 15px;
    font-weight: lighter;
    color: white;
}



/* Workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace img {
    margin-bottom: 20px;
}

.workingspace h2 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
}

.workingspace h2 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 25px;
    color: black;
    font-weight: 200;
}


/* Testimonial */
.testimonial {
    margin-top: 130px;
}

.testimonial p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(1);
}

.testimonial .img-main {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: grayscale(0);
}

.testimonial .info-text h5 {
    font-size: 16px;
    font-weight: bold;
}

.testimonial .info-text p {
    font-size: 12px;
    margin-top: -5px;
    color: #acacac;
    font-style: normal;
}



/* Utility */
.tombol {
    border-radius: 40px;
    text-transform: uppercase;
    z-index:5;
}

/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 20px;
    }
    
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }


    .jumbotron {
        margin-top: -90px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 5em;
        margin-top: 150px;
    }


    .workingspace {
        text-align: left;
    }


    .testimonial p {
        font-size: 2em;
    }

}

.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}